.phoneProductLine {
  display: flex;
  flex-direction: row;
  padding: 2em;
  opacity: 1;
}
.phoneProductLine.removing {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.phoneProductLine > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 4vw;
}
.phoneProductLine .spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: end;
}
.phoneProductLine .spaceBetween p {
  white-space: nowrap;
  overflow: visible;
  font-size: 3.5vw;
}
.phoneProductLine .spaceBetween label {
  display: flex;
  flex-direction: row;
  font-size: 3vw;
  align-content: center;
  justify-content: end;
  align-items: center;
}
.phoneProductLine h3,
p {
  margin: 0.1em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phoneProductLine {
  padding: 2vw;
  align-items: center;
}
.phoneProductLine h3 {
  font-size: 3vw;
}
.phoneProductLine .productImages {
  width: 20vw;
  height: 20vw;
  min-width: 0;
}
.phoneProductLine .removeButton {
  font-size: 2vw;
}
.phoneProductLine input[type="checkbox"] {
  width: 3vw;
  height: 3vw;
}
