.phoneProductLine {
  display: flex;
  flex-direction: row;
  padding: 2em;
}
.phoneProductLine > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 2em;
}
.phoneProductLine .spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.phoneProductLine h3,
p {
  margin: 0.1em;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 970px) {
  .phoneProductLine {
    padding: 2vw;
    align-items: center;
  }
  .phoneProductLine h3 {
    font-size: 3vw;
  }
  .productImages {
    width: 20vw;
    height: 20vw;
    min-width: 0;
  }
  .removeButton {
    font-size: 2vw;
  }
}
