.continueShoppingButton {
  background-color: rgb(212, 226, 243);

  margin-right: 10px;
}

.shoppingCart {
  background-color: rgb(248, 248, 248);
  border-radius: 15px;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  justify-content: space-between;

}
.shoppingCart p {
  color: black;

}
.upsellItems {
  background-color: rgb(248, 248, 248);
  border-radius: 15px;
  width: 18em;
  height: 20em;
  padding-top: 5px;
}
.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.shoppingCart td:after,
.shoppingCart th:after {
  content: "";
  display: block;
  width: 0.5cm; /* Adjust as needed */
}
.upsellItemContainer {
  position: fixed;
  right: inherit;
}
.checkoutButton {
  background-color: rgb(255, 198, 94);
  border-radius: 8px;
  margin: 5px;
}

.shoppingCart td,
.shoppingCart th {
  padding: 10px; /* Adjust as needed */
  border-bottom: 1px solid black;
  color:black;
}