table {
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-top: 0em;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 1%;
  border-top: 1px solid var(--color-text);
  padding: 1em 0em;
  min-width: 5em;
}
#name {
  min-width: 10em;
}

th {
  white-space: nowrap;
  padding-bottom: 1em;
  font-size: 1.2em;
}
td p {
  font-size: 1.3em;
}

.phoneBasket > *:not(:last-child) {
  border-bottom: 1px solid var(--color-text);
}
.phoneBasket > * {
  margin-left: 1em;
  margin-right: 1em;
}
.orderSummary {
  display: flex;
  flex-direction: column;
}
.orderSummary > div {
  display: flex;

  justify-content: space-between;
}
