table {
  display: flex;
  flex-direction: column;
  padding: 2em;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 1%;
  white-space: nowrap; /* Prevents content from wrapping to the next line */
  text-overflow: ellipsis; /* Indicates that the content is clipped */
  border-top: 1px solid var(--color-text); /* Add this line */
}

.phoneBasket > *:not(:last-child) {
  border-bottom: 1px solid var(--color-text);
}
.phoneBasket > * {
  margin-left: 1em;
  margin-right: 1em;
}
