form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.input-group {
  margin: 1em;
  position: relative;
  height: 50px;
}
.input-group label {
  margin-top: -30px;
  position: absolute;
  cursor: text;
}
.input-group input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #dfdfdf;
  outline: none;
}

.input-group input:focus {
  border-bottom: 2px solid #413f3f;
}

.input-group input,
.input-group label {
  font-size: 1em sans-serif;
}

.address-checkbox {
  text-align: left;
  margin: 1em;
  position: relative;
  height: 50px;
}

.submit-button {
  margin: 1em;
  padding: 0;
  background-color: #4b9105;
  color: #fff;
  border: 0;
  border-radius: 1em;
  cursor: pointer;
  font-size: 1em;
  position: relative;
}

.submit-button input {
  position: inherit;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: inherit;
  color: inherit;
  color: #fff;
  border: inherit;
  border-radius: inherit;
  cursor: pointer;
  font-size: inherit;
}

.business-checkbox {
  text-align: left;
  margin: 1em;
  position: relative;
  height: 50px;
}

.zip-error-message {
  color: red;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
