nav {
  display: flex;
  justify-content: center;
  width: 20rem;
  margin: 1.5rem auto;
}

nav ul {
  display: flex;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li.active a {
}
nav li.past a {
  color: var(--color-button-secondary);
  border-top: 0.3rem var(--color-button-secondary) solid;
  text-decoration: inherit;
}

nav a {
  color: var(--color-button);
  border-top: 0.3rem var(--color-button) solid;
  padding: 0 4rem;
}
nav a:hover {
  color: var(--color-button-secondary);
  border-top: 0.3rem var(--color-button-secondary) solid;
  text-decoration: inherit;
}
