nav {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-secondary);
  border-radius: 50%;
}
nav .past .bubble {
  background-color: green;
}
nav ul div {
  width: 4em;
  height: 7px;
  justify-items: center;
  position: relative;
}

nav .previousdivider {
  background: linear-gradient(to right, green, var(--color-button-secondary));
}
nav .pastdivider {
  background-color: green;
}
nav .futuredivider {
  background-color: var(--background-color-secondary);
}
nav .activedivider {
  background: linear-gradient(
    to right,
    var(--color-button-secondary),
    var(--background-color-secondary)
  );
}
nav .bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  font-size: 1.1em;
  color: var(--color-text);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
nav .bubble:hover {
  color: var(--color-text);
}
nav .active {
  z-index: 999;
  animation: glow 2s infinite;
  background-color: var(--color-button-secondary);
}
nav .active .divider {
  background-color: var(--color-button-secondary);
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--color-button-secondary),
      0 0 10px var(--color-button-secondary),
      0 0 15px var(--color-button-secondary),
      0 0 20px var(--color-button-secondary);
  }
  50% {
    box-shadow: 0 0 10px var(--color-button-secondary),
      0 0 20px var(--color-button-secondary),
      0 0 30px var(--color-button-secondary),
      0 0 40px var(--color-button-secondary);
  }
  100% {
    box-shadow: 0 0 5px var(--color-button-secondary),
      0 0 10px var(--color-button-secondary),
      0 0 15px var(--color-button-secondary),
      0 0 20px var(--color-button-secondary);
  }
}
