.header {
    display: flex;
    flex-direction: row;
    align-items: center;


}



@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .storeLogo{
      animation: logo-spin infinite 7s linear;

    }
    .storeLogo:hover {

      animation-play-state: paused;
    }
  }