#root {
  max-width: 1280px;
  margin: auto;
  padding: 0rem;
  text-align: center;
}



.productImages:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
.productImages {
  border-radius: 15px;
  width: 100px;
  height: 100px;
}

.shoppingCart {
  background-color: rgb(227, 188, 137);
  border-radius: 15px;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.upsellItems{
  background-color: rgb(117, 115, 221);
  border-radius: 15px ;
  width: auto;
  height: 400px;  

}
.frontPage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: default ;
  padding: 2em;
}
.shoppingCart td, .shoppingCart th {
  padding: 8px;  /* Adjust as needed */
  border-bottom: 1px solid black;
}

.button {
  background-color: orange;
}
.button:hover {
  background-color: whitesmoke;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
