#root {
  padding: 0rem;
  margin: 0px auto 0px auto;
}
body {
  --outside-color: #e61919;
  --background-color: #f5f5f5;
  --brand-color: #3b4538;
  --primary-color: #ff6600;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  padding: 1em;
}
.rightCollumn {
  display: inline-block;
  flex-direction: column;
  position:sticky;
  top: 0;
  padding-left: 2rem;
  border-radius: 15px;
  width: 15em;
  height: 20em;

}