#root {
  max-width: 1280px;
  margin: auto;
  padding: 0rem;
  text-align: center;
}
.app {
  max-width: 600px;
  margin: 0 auto;
}
body {
  --outside-color: #e61919;  ;
  --background-color: #f5f5f5;
  --brand-color: #3b4538;
  --primary-color: #ff6600;
  margin: 0;
}
main {
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  padding: 1em;
}


.productImages:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
.productImages {
  width: 7em ;
  height: 7em;
  object-fit: cover;
  border-radius: 15px;
}

.shoppingCart {
  background-color: rgb(142, 168, 204);
  border-radius: 15px;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.upsellItems{
  background-color: rgb(117, 115, 221);
  border-radius: 15px ;
  width: auto;
  height: 400px;

}
.frontPage {
  display: flex;
  justify-content: space-between;
  align-items: default ;
  padding: 2em;
}
.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;

}
.rightCollumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;

}
.shoppingCart td, .shoppingCart th {
  padding: 10px;  /* Adjust as needed */
  border-bottom: 1px solid black;
}

.shoppingCart td:after, .shoppingCart th:after {
  content: "";
  display: block;
  width: 0.5cm;  /* Adjust as needed */
}

.lineItemFirst {
  padding-left: 20px;
  border-bottom: 0px;
}
.lineItemLast {
  padding-right: 20px;
}
.lineItemGiftwrapping {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.twoLinePrice {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.oldPrice {
  text-decoration: line-through;
  color: red;
}


.giftwrappingCheckbox {
  transform: scale(2);

}
.button {
  background-color: orange;
}
.button:hover {
  background-color: whitesmoke;
  border-color: black;
}
input [type="number"] {
  width: 100px;
}
.quantityInput {
  display: flex;
  height:fit-content;
  align-items: center;

}
.quantityButton {
  background-color: orange;
  border-radius: 8px;
  margin: 5px;
}
.quantityButton:active {
  background-color: whitesmoke; /* Change the color to your desired color */
}
.quantityBox {
  width: 40px;
  height: 30px;
  text-align: center;
  padding-left: 11px;
  padding-right: 0;
}






