#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.productImages {
  border-radius: 15px;
  width: 100px;
  height: 100px;
}

.lineItem {
  display: flex;
  align-items: center; /* optional, aligns items vertically in the middle */
  justify-content: space-between; /* optional, adds equal space between items */
}

.shoppingCart {
  background-color: rgb(170, 175, 143);
  border-radius: 15px;
  width: auto;
  height: auto;
}

th{
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
