:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--background-color-primary);

  --background-color-primary: #F3F4F6;
  --background-color-secondary: #D0D4DC;
  --color-primary: #D4995E;
  --color-secondary: #343a40;

  --color-button: #CAC4CE;
  --color-button-secondary: #9B90A2;
  --color-button-tertiary: #c59966;
  --color-button-quaternary: #e2630258;
  --color-button-delete: #B71901;

  --color-text: #000000;
  --color-text-secondary: #49414E;
  --color-text-tertiary: #B71901;
  --color-text-inverse: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-button-tertiary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-button-quaternary);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-button-secondary);
}
button:active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-primary: #1A1D23;
    --background-color-secondary: #2B303A;
    --color-primary: #F7ECE1;
    --color-secondary: #343a40;
  
    --color-button: #CAC4CE;
    --color-button-secondary: #9B90A2;
    --color-button-tertiary: #c59966;
    --color-button-quaternary: #e2630258;
    --color-button-delete: #B71901;
  
    --color-text: #F7ECE1;
    --color-text-secondary: #49414E;
    --color-text-tertiary: #B71901;
    --color-text-inverse: #ffffff;
  }
}
