nav {
  display: flex;
  justify-content: center;
  width: 20rem;
  margin: 1.5rem auto;
}

nav ul {
  display: flex; /* Added for centering */
}

.checkout-steps {
}

nav li {
  display: flex; /* Added for centering */
  align-items: center; /* Added for centering */
  justify-content: center; /* Optional, centers content horizontally */
}

nav li.active a {
  color: #f08000; /* Change this to your desired active link color */
  border-top: 0.3rem #f08000 solid;
  text-decoration: inherit;
}

nav a {
  color: #c0c0c0; /* Change this to your desired default link color */
  border-top: 0.3rem #c0c0c0 solid;
  padding: 0 4rem;
}
nav a:hover {
  color: #e2630258; /* Change this to your desired hover link color */
  border-top: 0.3rem #e2630258 solid;
  text-decoration: inherit;
}
